.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:80px;

    background:#F8F9FA;
}

.hero-content{

    width:50%;

}

.hero-content h1{

    font-size:55px;

    color:#2E7D32;

    margin-bottom:20px;

}

.hero-content p{

    font-size:22px;

    color:#555;

    line-height:35px;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.order-btn{

    background:#2E7D32;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:8px;

    font-size:18px;

    cursor:pointer;

}

.learn-btn{

    background:white;

    color:#2E7D32;

    border:2px solid #2E7D32;

    padding:15px 35px;

    border-radius:8px;

    font-size:18px;

    cursor:pointer;

}

.hero-image{

    font-size:220px;

}